<div class="main-container header-img">
	<header class="wrapper clearfix">
		<div class="social_links">
			<!--<a class="facebook" href="https://facebook.com/kodybrown" title="Facebook"><img src="img/fb.png" /></a>-->
			<a class="twitter" href="https://twitter.com/kodybrown" title="Twitter"><img src="img/twitter.png" /></a>
			<a class="github" href="https://github.com/kodybrown" title="GitHub"><img src="img/octo.png" /></a>
			<a class="email" href="mailto:thewizard@wasatchwizard.com" title="Email">@</a>
		</div>
		<!--<div class="header-text"><span>wasatchwizard.com</span></div>-->
		<a href="index.html"><img src="img/header.png" border="0" /></a>
	</header>
</div>
<div class="main-container main-nav">
	<div class="main nav-tabs wrapper clearfix">
		<ul>
			<li class="active"><a href="#">home</a></li>
			<li><a href="https://elegantdevelopment.blogspot.com/">blog</a></li>
			<li><a href="#">debian</a></li>
			<li><a href="#">portfolio</a></li>
			<!--<li><a href="#">python</a></li>-->
		</ul>
	</div>
	<div class="main current-page wrapper clearfix">
		<ul>
			<!--<li><span></span><a href="index.html">home</a></li>
                <li class="active"><span></span><a href="#">Welcome</a></li>-->
			<!--<li><span></span><a href="#">ASP.NET</a></li>-->
		</ul>
	</div>
</div>
